#!/bin/bash

# CREATES FOLDERS/DIRECTORIES

# Define core parameters - rawdata, pipedir, moduledir, assembly_name
# sourcedir="/path/to/rawreads/"

#pipedir is set as your current location (-P is nessary!! )
pipedir=$(pwd -P)

#sets variables for important directories these must be made yourself

moduledir="${pipedir}/modules"
scriptdir="${moduledir}/scripts"
sourcedir="${pipedir}/source_data"

## Make workdir and output directories
outdir="${pipedir}/outdir"
log="${workdir}/log"
singularitydir="${pipedir}/singularities"

# Create Singularity cache directory in /tmp and set environment variables
if [[ ! -d "${singularitydir}" ]]; then
        mkdir -p "${singularitydir}"
fi

if [[ ! -d "${singularitydira}/cache" ]]; then
        mkdir -p "${singularitydir}/cache"
fi

export APTAINERAPTAINER_CACHEDIR=${singularitydir}/cache
export APPTAINER_CACHEDIR=${singularitydir}/cache

#create output directories if not present

if [[ ! -d ${workdir} ]]; then 
	mkdir -p ${workdir}
fi

if [[ ! -d "${outdir}" ]]; then 
	mkdir -p "${outdir}" 
fi

if [[ ! -d "${log}" ]]; then
        mkdir -p "${log}"
fi

# Export core parameters
export sourcedir
export pipedir
export workdir
export outdir
export moduledir
export log
export sample_number
export singularitydir
export scriptdir

# Step 1: recall demux (these directories are needed for step 1 / module 1)
basecalldir="${workdir}/basecall"
if [[ ! -d "${basecalldir}" ]]; then 
	mkdir -p "${basecalldir}" 
fi
export basecalldir

demuxdir="${workdir}/demux"
if [[ ! -d "${demuxdir}" ]]; then
        mkdir -p "${demuxdir}"
fi
export demuxdir

export basecalldir

primertrimdir="${workdir}/primertrim"
if [[ ! -d "${primertrimdir}" ]]; then
        mkdir -p "${primertrimdir}"
fi
export primertrimdir


# STEP 2: convert to fastq (needed for step/module 2)
fastqdir="${workdir}/fastqdir" 
if [[ ! -d "${qfastqdir}" ]]; then 
	mkdir -p "${fastqdir}" 
fi
export fastqdir

#STEP 3: rename (needed for step/module 3)
renameddir="${workdir}/renamedfiles" 
if [[ ! -d "${renameddir}" ]]; then 
	mkdir -p "${renameddir}" 
fi
export renameddir

#STEP 4: QC (needed for step/module 4)
qcdir="${workdir}/qcdir"
if [[ ! -d "${qcdir}" ]]; then
        mkdir -p "${qcdir}"
fi

export qcdir


