#!/bin/bash

#STEP 2: bam to fastq

bedtools_modeul="BEDTools/2.31.1-GCC-14.3.0"
module is-avail ${bedtools_module} || { echo "${bedtools_module} not avalible check conf/programs.config" ; exit 1; }
export bedtools_module


#STEP 4: QC
fastqc_module="fastqc/v0.11.9"
module is-avail ${fastqc_module} || { echo "${fastqc_module} not avalible check conf/programs.config" ; exit 1; }
export fastqc_module
